
@model CityViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>City management</h1>

<a asp-action="Create">Create city</a>

<table>
    <thead>
        <tr>
            <th>City </th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cty in Model.CityList)
        {
            <tr>
                <td>@cty.CityName</td>
                <td>@(cty.Country == null ? "No Country associated with this city" : cty.Country.CountryName)</td>
            </tr>
        }
    </tbody>
</table>
