@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">People start here!</h1>
</div>

<br />

<form class="text-center" asp-action="Index" asp-controller="People" method="post">

    @* Try add error message here for all elements in the form. *@
    @*<span asp-validation-for="All" class="text-danger"></span>*@

    <label asp-for="CreatePersonViewModel.Name"></label>
    <input asp-for="CreatePersonViewModel.Name" />
    <span asp-validation-for="CreatePersonViewModel.Name" class="text-danger"></span>

    <label asp-for="CreatePersonViewModel.Phone"></label>
    <input asp-for="CreatePersonViewModel.Phone" />
    <span asp-validation-for="CreatePersonViewModel.Phone" class="text-danger"></span>


    <label asp-for="CreatePersonViewModel.CityId"></label>

    <select asp-for="CreatePersonViewModel.CityId">

        <option value="5">No City/Rural</option>

        @foreach (var item in Model.CreatePersonViewModel.LiveInCity)
        {
            <option value="@item.Id">@item.CityName</option>
        }

    </select>
    <span asp-validation-for="CreatePersonViewModel.LiveInCity" class="text-danger"></span>

    <button>Add</button>
</form>

<hr />

<form asp-action="Filter" asp-controller="People">
    <label asp-for="Search"></label>
    <input asp-for="Search" />
    <input type="submit" value="Filter by Name or City" />
</form>

<hr />

<div>  <h2> People list moved here. Enjoy! </h2> </div>

<partial name="_PeopleTable" model="Model" />
