@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">People start here!</h1>
</div>

<br />

<form class="text-center" asp-action="Index" asp-controller="People" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span asp-validation-for="Phone"></span>

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>
    <button>Add</button>
</form>


<hr />


<form asp-action="Filter" asp-controller="People">
    <label asp-for="Search"></label>
    <input asp-for="Search" />
    <input type="submit" value="Filter by Name or City" />
</form>

<hr />


<div>  <h2> People list moved here. Enjoy! </h2> </div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">

                <h5>Name</h5>
            </div>

            <div class="col-3">
                <h5>Phone</h5>
            </div>

            <div class="col-3">
                <h5>City</h5>
            </div>

            <div class="col-3">
                <h5>Delete</h5>
            </div>

        </div>
        
        @foreach (var item in Model.PeopleList)
        {
            <partial name="../Shared/_PeopleListPartial" model="item" />
        }
    
   </div>
</div>









<hr />

<div>  <h2>People detailes added here! :)</h2> </div>


