@model Person



<div class="row">
        <div class="col-3">
            <p>@Model.ForName</p>
        </div>
        <div class="col-3">
            <p>@Model.Phone</p>
        </div>
        <div class="col-3">
            <p>@Model.LiveInCity.CityName</p>
        </div>
        <div class="col-3">
            <a asp-action="Delete" asp-controller="People" asp-route-id="@Model.Id">Delete</a>
        </div>

    </div>